body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual al alto de la ventana */
    margin: 0;
}

nav img {
    width: 26%;
}

nav h1 {
    font-size: 1.5rem;
}

footer {
    background-color: rgb(53, 15, 219);
    color: aliceblue;
    text-align: center;
    padding: 15px;
    height: 5%;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}